# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env
.env

# Editors
.vscode/
.idea/

# Build
dist/
build/

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json
